body {
  margin: 0;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-menu-dark {
  background-color: #263449 !important;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-layout-header {
  background-color: #263449 !important;

}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-layout-footer {
  background-color: #263449 !important;
  color: #fff;

}

.slick-prev,
.slick-next {
  z-index: 10 !important;

}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-carousel .slick-prev::after,
:where(.css-dev-only-do-not-override-1vjf2v5).ant-carousel .slick-next::after {
  width: 20px !important;
  height: 20px !important;
  color: #fff;
}

:where(.css-1vjf2v5).ant-carousel .slick-prev::after,
:where(.css-1vjf2v5).ant-carousel .slick-next::after {
  width: 20px !important;
  height: 20px !important;
}



:where(.css-dev-only-do-not-override-1vjf2v5).ant-carousel .slick-prev::after {
  inset-inline-end: 10px !important;

}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-carousel .slick-next::after {
  inset-inline-start: -10px !important;

}

:where(.css-1vjf2v5).ant-layout-footer {
  background-color: #263449 !important;
  color: #fff;
}