body {
  margin: 0;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-menu-dark {
  background-color: #263449 !important;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-layout-header {
  background-color: #263449 !important;

}